footer {
    background-color: #333;
}
.footer-nav {
    float: left;
    list-style: none;
}

.social-links {
    float: right;
    list-style: none;
}

.footer-nav li{
    display: inline-block;
    margin-right: 20px;
}

.social-links li{
    display: inline-block;
    margin-right: 20px;
    font-size: 140%;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
}

.footer-nav-link:link,
.footer-nav-link:visited,
.social-media-link:link,
.social-media-link:visited {
    text-decoration: none;
    color: #95a5a6;
    padding-bottom: 1px;
    transition: border-bottom 0.3s, color 0.3s;
}

.footer-nav-link:hover,
.footer-nav-link:hover,
.social-media-link:hover,
.social-media-link:active {
    color: #fff;
    border-bottom: 1px solid #555;
}

footer p {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    font-size: 90%;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color:  #1da1f2;
}

.ion-social-googleplus:hover {
    color: #ea3345;
}

.ion-social-instagram:hover {
    color: #517fa4;
}