/* ***********************************************************************************
                                    SIGN UP / PLANS
************************************************************************************* */

.section-plan {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:last-child {
    text-align: center;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

.section-plan div:last-child {
    text-align: center;
}

/* ***********************************************************************************
                                    CONTACT-FORM
************************************************************************************* */

.contact-form {
    width: 60%;
    margin: 0 auto;
}

.form-input[type=text],
.form-input[type=email],
.find-us,
.form-textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid grey;
}

.textarea {
    height: 100px;
}

.form-input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {
    outline:none;
}
